<style>
      .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 60px;
      background: #fff;
    }

    .navbar .logo {
      font-size: 40px;
      font-weight: 37;
      color: #B2A9A1;
    }

    .navbar ul {
      display: flex;
      list-style: none;
      gap: 25px;
    }
   
    .navbar a {
      text-decoration: none;
      color: #615A5A;
      font-size: 15px;
    }

    .navbar .btn {
      padding: 8px 15px;
      border-radius: 5px;
      background: #484848;
      color: #fff;
    }
</style>
<header class="navbar">
    <div class="logo">Elfé Lorienveil</div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
         <li><a href="/products">All Products</a></li>
        <li><a href="/login">Sign In</a></li>
        <li><a href="/signup" class="btn">Sign Up</a></li>
      </ul>
    </nav>
  </header>