<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <style>
    body{ 
  font-family: 'Arial', sans-serif;
  padding:0;
  margin:0;
  background:#fff;
}
    .card{height: 250px;max-width:420px;margin-top: 300px;margin:80px auto;align-items: center;background:#fff;padding:40px;border-radius:15px;box-shadow:0 10px 30px rgba(0,0,0,.15)}
    input,button{width:100%;padding:12px;margin-top:15px; border-radius: 5px; border: 0.5px solid ;}
    button{background:#4a4745;color:#fff;border:none;border-radius:5px}
  </style>
</head>
<body>

<%-include('../partials/user/loggedinHeader')%>
<div style="display:flex;justify-content:center;align-items:center;padding:60px 20px; font-family: Georgia, 'Times New Roman', Times, serif;">
  <div class="card" style="align-items: center;">

  <h2 style="text-align:center">Set New Password</h2>

  <form method="POST" action="/profile/forgot-password/reset">
    <input type="password" name="newPassword" placeholder="New password"  style=" width: 330px; margin-left: 30px; margin-right: 30px" required />
    <input type="password" name="confirmPassword" placeholder="Confirm password"  style=" width: 330px; margin-left: 30px; margin-right: 30px" required />
    <button type="submit"   style=" width: 357px; margin-left: 30px; margin-right: 30px">Update Password</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if (typeof message !== 'undefined' && message) { %>
<script>
  Swal.fire({
    icon: 'error',
    text: "<%= message %>",
    confirmButtonColor: '#4a4745'
  });
</script>
<% } %>

<% if (typeof success !== 'undefined' && success) { %>
<script>
  Swal.fire({
    icon: 'success',
    title: 'Password Updated',
    text: 'Your password has been updated successfully',
    confirmButtonColor: '#4a4745'
  }).then(() => {
    window.location.href = '/profile';
  });
</script>
<% } %>



</body>
</html>
